body {
    font-family: "Montserrat", sans-serif;
    background-color: grey;
    color: white;
    margin: 0;
    overflow: hidden;
}
.main {
    height: 100vh;
    padding: 0.5rem;
    overflow: auto;
}

.carinfo {
    background-color: rgb(112, 110, 110);
}


.carinfo h3 {
    text-decoration: underline;
}
.heading {
    background-color:black;
    height: 200px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding-bottom: 0;
  }

  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 85px;
  }

  .mtitle {
    text-align: center;
  }


  .card {
    background-color: #232323;
    width: 250px;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    box-shadow: 0 4px 18px 0;
   
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.85rem;
    opacity: 0.5;
}
